:root {

  --primary: #493f75;
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-monospace);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
}


main {

  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  justify-content: center;
}






#projects {
  text-align: center;
}

.projectContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 20px;

}

.projects {

  width: 300px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 1px #dee2e6;
  padding: 20px;

  transition: all 1s ease;
}

.projects:hover {
  transform: scale(1.1);

}

.projects a button {
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.projects a button:hover {
  background-color: #9a98a1;
  color: #493f75;
}

.projects h3 {
  font-size: 2.3em;
  font-weight: 700;
  color: #a69cd8;
}

#testimonials {

  background-color: #f9f9f9;
}

.testimonialContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.testimonialCard {
  border: 1px solid #dee2e6;
  box-shadow: 1px 1px 10px 1px #dee2e6;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.testimonialCard:hover {
  box-shadow: 3px 3px 15px 3px #f9d0ff;
}

.testimonialCard img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.cardContent {
  flex-grow: 1;
}

.cardContent p {
  text-align: left;
  color: #333;
  line-height: 1.5;
  padding: 20px;
}



#highlights {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

#highlights h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #493f75;
}

.highlight-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.highlight-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  min-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlight-card:hover {
  transform: translateY(-10px);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.highlight-card i {
  font-size: 3em;
  color: #493f75;
  margin-bottom: 15px;
}

.highlight-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.highlight-card p {
  font-size: 1em;
  color: #333;
}


footer {
  background-color: #493f75;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.footer-content p {
  margin: 10px 0;
  font-size: 0.9em;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #dedbed;
}

@media (max-width: 480px) {
  .projects {
      width: 100%;
      min-height: 250px;

  }

  .testimonialContent {

      gap: 10px;
      margin: 25px;
  }

  .box {
      width: 300px;
      margin: 50px;

  }

  .servicesContent {

      padding-top: 10px;
      gap: 5px;
  }

  .section {
      margin: 0px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;

  }

  header {
      height: 100%;
      width: 100%;
      padding-bottom: 50px;

  }


  nav {
      margin: 0px;

  }

  nav ul {
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
      align-items: start;
  }

  .header-content-text {

      font-size: 2em;
  }

  .servicesContent {

      padding-top: 2px;
      gap: 10px;
  }



  .highlight-card {
      width: 50%;
  }

  .header-content img {
      width: 100px;
      height: 70px;
  }

  .header-content {
      display: flex;
      justify-content: start;
      align-content: center;
      flex-wrap: wrap;
      margin: 20px;

  }

  .projects {
      width: 150px;
      min-height: 250px;
      margin: 15px;
      padding: 25px;
      transition: all 1s ease;
  }


}

@media (max-width: 768px) {
  .highlight-cards {
      flex-direction: column;
      align-items: center;
  }

  .servicesContent {

      padding-top: 10px;
      gap: 5px;
  }


  .testimonialContent {

      gap: 10px;
      margin: 50px;
  }

  .projects {
      width: 200px;
      min-height: 250px;
      margin: 15px;
      padding: 20px;
      transition: all 1s ease;
  }

  .highlight-card {
      width: 100%;
  }

  .header-content img {
      width: 200px;
      height: 150px;
  }

  .header-content {
      display: flex;
      justify-content: start;
      align-content: center;
      flex-wrap: wrap;
      margin: 30px;
      padding-top: 30px;

  }

  nav {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0px 30px;
      top: 0px;
      position: relative;
  }

  nav ul li a {
      color: var(--primary);
  }



  .testimonialCard {
      flex-direction: column;
      text-align: center;

  }

  .testimonialCard img {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .cardContent p {
      text-align: center;

  }
}



.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #444;
  border-radius: 10px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -9px;
}

.hamburger-inner::after {
  bottom: -9px;
}

.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  -webkit-transition-duration: 0.45s;
          transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 9px;
  -webkit-transition: opacity 0.43s 0.275s ease;
  transition: opacity 0.43s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 18px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 9px, 0) rotate(135deg);
          transform: translate3d(0, 9px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -18px, 0) rotate(-270deg);
          transform: translate3d(0, -18px, 0) rotate(-270deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  font-family: 'Baloo Paaji', cursive;
}

@media (prefers-reduced-motion: reduce) {
  .custom-navbar {
    -webkit-transition: none;
    transition: none;
  }
}

.custom-navbar .logo {
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 300)));
  text-decoration: none;
  color: #fff;
}

.custom-navbar .container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .custom-navbar .container {
    -webkit-transition: none;
    transition: none;
  }
}

.custom-navbar .hamburger {
  margin-left: 20px;
  padding-top: 5px;
}

.custom-navbar .hamburger .hamburger-inner, .custom-navbar .hamburger .hamburger-inner::before, .custom-navbar .hamburger .hamburger-inner::after {
  background: #fff;
}

.custom-navbar .nav {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: auto;
}

.custom-navbar .nav .item {
  margin: 0 10px;
}

.custom-navbar .nav .item .link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.custom-navbar .nav .item .link:hover, .custom-navbar .nav .item .link.active {
  color: #695aa6;
}

.custom-navbar.affix {
  background: #fff;
  border-bottom: 1px solid rgba(222, 226, 230, 0.34);
}

.custom-navbar.affix .logo {
  color: #695aa6;
}

.custom-navbar.affix .container {
  min-height: 65px;
}

.custom-navbar.affix .nav .item .link {
  color: #6c757d;
}

.custom-navbar.affix .hamburger-inner, .custom-navbar.affix .hamburger-inner::before, .custom-navbar.affix .hamburger-inner::after {
  background: #6c757d;
}

@media (min-width: 768px) {
  .custom-navbar .nav .item {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
    transform: translateY(-50px);
  }
  .custom-navbar .nav .item:nth-child(9) {
    -webkit-transition: all, 0.1s;
    transition: all, 0.1s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(9) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(8) {
    -webkit-transition: all, 0.2s;
    transition: all, 0.2s;
    -webkit-transition-delay: .05s;
            transition-delay: .05s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(8) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(7) {
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(7) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(6) {
    -webkit-transition: all, 0.4s;
    transition: all, 0.4s;
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(6) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(5) {
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(5) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(4) {
    -webkit-transition: all, 0.6s;
    transition: all, 0.6s;
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(4) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(3) {
    -webkit-transition: all, 0.7s;
    transition: all, 0.7s;
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(3) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(2) {
    -webkit-transition: all, 0.8s;
    transition: all, 0.8s;
    -webkit-transition-delay: .35s;
            transition-delay: .35s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(2) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav .item:nth-child(1) {
    -webkit-transition: all, 0.9s;
    transition: all, 0.9s;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav .item:nth-child(1) {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .custom-navbar .nav.show .item {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 991.98px) {
  .custom-navbar .hamburger {
    margin-left: auto;
  }
  .custom-navbar .nav {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    background: #fff;
    border-radius: 0 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: auto;
    display: block;
    border-bottom: 1px solid #dee2e6;
    padding: 13px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
}

@media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
  .custom-navbar .nav {
    -webkit-transition: none;
    transition: none;
  }
}

@media (max-width: 991.98px) {
  .custom-navbar .nav.show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .custom-navbar .nav .item .link {
    padding: 7px 12px;
    display: block;
    color: #6c757d;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-primary {
  color: #fff;
  background-color: #695aa6 !important ;
  border-color: #695aa6 !important ;
}

.btn-primary:hover {
  color: #fff;
  background-color: #594c8d !important;
  border-color: #544885 !important;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 115, 179, 0.5) !important;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #695aa6;
  border-color: #695aa6;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #544885;
  border-color: #4f437d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 115, 179, 0.5);
}